---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, name, image, role } = {
  url: "/team/" + Astro.props.post.slug,
  name: Astro.props.post.data.name,
  role: Astro.props.post.data.role,
  image: Astro.props.post.data.image.url,
};
---

<article class="relative flex flex-col group">
  <a
    href={url}
    title={`View profile for ${name}`}
    aria-label={`View profile for ${name}`}
    class="absolute inset-0 z-10"></a>

  <Image
    width="1000"
    height="1000"
    src={image}
    alt={name}
    class="object-cover object-center w-full aspect-square rounded-2xl"
  />

  <div class="py-4">
    <Text tag="h3" variant="textSM" class="text-base-900">
      {name}
    </Text>
    <Text tag="p" variant="textSM" class="text-base-500">
      {role}
    </Text>
  </div>
</article>
